.header__inner {
  display: flex;
}

.header__img {
  margin-top: 46px;
  margin-bottom: 155px;
  display: inline-block;
}

.header__phone {
  display: inline-block;
  margin-top: 72px;
  margin-bottom: 47px;
}

.header__link {
  font-weight: 500;
  font-size: 18px;
  text-align: right;
  color: #fff;
}

.header__neuron {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 668px;
  height: 202px;
  max-width: 100%;
  box-shadow: inset 58px 4px 191px 47px #000;
  mix-blend-mode: lighten;
  position: absolute;
}

@media (width > 1200px) {
  .header__neuron {
    visibility: visible;
    opacity: 1;
  }

  .header__inner {
    justify-content: space-between;
  }
}

@media (width <= 1200px) {
  .header__neuron {
    visibility: hidden;
    opacity: 0;
  }

  .header__inner {
    justify-content: space-around;
    gap: 30px;
  }
}
