.main__wrapper {
  position: relative;
  height: 100vh;
}

.main__content-shadow {
  font-weight: 600;
  font-size: 18px;
  color: #747d81;
}

.main__main-content {
  font-weight: 600;
  font-size: 108px;
  background: linear-gradient(180deg, #fff 31.75%, #1a3031 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 18px;
}

.main__secondary-content {
  font-weight: 500;
  font-size: 18px;
  color: #fff;
  margin-bottom: 77px;
}

.main__content {
  font-weight: 750;
  font-size: 18px;
  color: #fff;
  margin-bottom: 101px;
}

.main__content-accent--1 {
  font-weight: 500;
  line-height: 172%;
  color: #00e0ff;
}

.main__content-accent--2 {
  font-weight: 500;
  line-height: 128%;
  color: #00e0ff;
}

.main__neuron {
  left: 58%;
  top: -141px;
  position: absolute;
  /* min 284 max 858 / min375-max1950 */
  width: clamp(284px, 9.042rem + 37.15vw, 1211px);
  height: 726px;
  box-shadow: inset 58px 4px 191px 47px #000;
  mix-blend-mode: lighten;
  transform: translateX(-5%);
}

.main__diplom-picture {
  position: relative;
  display: inline-block;
  border-radius: 12px;
  width: 71px;
  height: 71px;
  background: linear-gradient(
    180deg,
    rgba(0, 224, 255, 0.11) 0%,
    rgba(0, 224, 255, 0.05) 100%
  );
}
.main__diplom-img {
  position: absolute;
  left: 25%;
  top: 25%;
}

.main__flex {
  display: flex;
  gap: 33px;
}

.main__text {
  position: relative;
}

.main__modal-text {
  font-weight: 600;
  font-size: 10px;
  letter-spacing: 0.36em;
  text-transform: uppercase;
  color: #00e0ff;
  rotate: -90deg;
}

.main__button-content {
  border-radius: 9px;
  width: 479px;
  height: 60px;
  box-shadow: 0 7px 20px -7px #00e0ff;
  background: var(--main-button);
  transition: color 0.2s;
}
.main__button-text--1 {
  font-weight: 750;
  font-size: 12px;
  letter-spacing: 0.25em;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}
.main__button-text--2 {
  position: relative;

  font-weight: 600;
  font-size: 10px;
  letter-spacing: 0.36em;
  text-transform: uppercase;
  color: #747d81;
  rotate: -90deg;
}

.toggle-switch {
  position: relative;
  margin: 100px 0px 0px -179px;
  transform: translateX(-57%);
  width: 20px;
  height: 37px;
  border: 1px solid #4a8bec;
  border-radius: 60px;
}

/* Сам шарик (голубой круг) */
.toggle-circle {
  width: 10px;
  height: 10px;
  background-color: #74d6f0;
  border-radius: 100%;
  fill: #4abcec;
  box-shadow: 0 4px 10px 0 #4ad9ecbf;
  position: absolute;
  top: 3px;
  left: 50%;
  transform: translateX(-50%);
}

@media (any-hover: hover) {
  .main__button-content:hover {
    background: var(--main-button-accent);
    transition: var(--transition-time);
  }
}

.main__button {
  display: flex;
  gap: 114px;
}
.main__ellipse-accent {
  position: absolute;
  bottom: 0;
  left: 669px;
  transform: translateX(-50%) rotate(180deg);
}

.main__border-img {
  width: 100%;
  height: 100%;
}

.main__neuron-left-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  box-shadow: inset 58px 4px 191px 47px #000;
  mix-blend-mode: lighten;
}

@media (width <= 1800px) {
  .main__neuron-left-bottom {
    visibility: hidden;
    opacity: 0;
  }
}
@media (width <= 1200px) {
  .main__neuron {
    width: 589px;
    height: 614px;
  }
}

@media (width <= 992px) {
  .main__wrapper {
    height: 155vh;
    position: static;
    display: flex;
    flex-direction: column;
  }
  .main__neuron {
    width: 474px;
    height: 284px;
    top: 289px;
    left: 0%;
  }

  .main__button {
    display: block;
    position: relative;
    top: 234px;
  }

  .header {
    display: none;
  }

  .main {
    margin-top: 100px;
  }

  .main__main-content {
    font-size: 51px;
  }

  .main__content-shadow,
  .main__secondary-content {
    font-size: 16px;
  }

  .main__button-img,
  .toggle-switch {
    visibility: hidden;
    opacity: 0;
  }
}
