.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding-bottom: 30px;
    padding-top: 30px;
    border-bottom: 1px solid #d3cbd9;
}


.header__phone {
    text-align: right;

}

.header__phone-text {
    margin-bottom: 8px;
}


.header__phone a {
    font-weight: 500;
    font-size: 18px;
    color: #212724;
    transition: color 0.2s;
    text-decoration: none;
}

.header__phone a:hover {
    color: #3596ed;
}