:root {
  /* font-family */
  --font-family: "Avenir Next Cyr", sans-serif;

  /* colors */
  --bg-1: linear-gradient(286.41deg, #022335 22.69%, #043a41 110.33%);
  --bg-2: linear-gradient(286.41deg, #022335 0%, #0c373d 100%);
  --bg-3: linear-gradient(286.41deg, #022335 0%, #043a41 100%);
  --main-white: #ffffff;
  --main-blue: #4abcec;
  --ellipse-blue: #00e0ff;
  --diamond: linear-gradient(180deg, #fff 31.75%, #1a3031 100%);
  --accent: #4abcec;
  --main-button: linear-gradient(
    180deg,
    rgba(3, 225, 255, 0.66) 0%,
    #13cdc2 100%
  );
  --cart-color: linear-gradient(
    180deg,
    rgba(0, 224, 255, 0.11) 0%,
    rgba(0, 224, 255, 0.05) 100%
  );
  --main-button-accent: linear-gradient(
    180deg,
    rgba(1, 185, 209, 0.66) 0%,
    #13cdc2 100%
  );

  /* transition */
  --transition-time: transition: 0.2s;

  /* container */
  --container-width: 1920px;
  --container-padding: 360px;
}
